.MainContainer {
  display: flex;
  justify-content: center;
}

.App {
  background-image: url(./images/istockphoto-1007768414-612x612.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border: 7px solid black;
  border-radius: 50px;
  height: 560px;
  width: 300px;
  margin: 20px;
}

.cameraBorder {
  background-color: black;
  border-radius: 50px 50px 0px 0px;
  height: 30px;
  position: relative;
  bottom: 5px;
}

.camera {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 50%;
  background-color: rgb(88, 88, 88);
}

.littleCamera {
  height: 5px;
  width: 5px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 4px;
  border-radius: 50%;
  background-color: rgb(63, 63, 63);
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.inputLittleContainer {
  border: 1px solid black;
  border-radius: 20px;
  height: 35px;
  width: 280px;
}

.input {
  width: 100px;
  border: none;
  outline: none;
}